@use '../../colors';

.header {
  padding: 8px;
  font-size: 14pt;
  border-bottom: solid colors.$font 1px;
}

.table {
  margin: 4px;
}

.help {
  border-top: solid colors.$font 1px;
  padding: 8px 8px 8px 8px;
}

.object-type {
  font-style: italic;
}

.blurb {
  padding: 8px;
  border-top: solid colors.$font 1px;
  white-space: pre-wrap;
  font-style: italic;
  color: colors.$altFont;
  opacity: 0.6;
}
